@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

footer {
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.navitem {
    font-size: 200%;
    margin: auto;
}

.navlink {
    text-decoration: none;
    color: #283618;
    font-weight: bolder;
    border-radius: 10%;
}

.navlink:hover {
    color: #DDA15E;
}

.navsearch {
    margin: auto;
    border-radius: 10%;
}

body {
    background-image: url(../Resources/full-background.png);
    background-size: auto;
    font-family: Dela Gothic One;    
}

header{
    background-color: transparent;
}

.footer-link {
    text-decoration: none;
    color: #283618;
    font-size: 150%;
}

.footer-link:hover {
    color: #DDA15E;
}

.container {
    height: 75%
}

.homepage {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: central;
    font-family: Dela Gothic One;
    margin-top: 13%;
}

#hpimgs {
    display: flex;
    justify-content: center;
    align-items: center;
}

#suggestionsList {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

#suggestionsList ul {
    padding: 0;
    margin-left: 0;
    list-style-type: none;
}

#suggestionsList li:hover{
    background-color: lightgray;
}
