@model FoodFit.Models.Users;

@{
    ViewData["Title"] = "";
}
<link rel="stylesheet" href="~/css/site.css"/>

<h1>
    КАК НАС НАЙТИ
</h1>
<div class="contacts" style=" white-space: nowrap; width: 90%;">
    <div class="contactinfo" style="width: 40%; display: inline-block; margin: 1,5%">
        <div>
            <p style="font-size: 222%; text-decoration: underline">
                Адрес
            </p>
            <p  style="font-size: 150%;">
                198095, г Санкт-Петербург, <br /> ул. Балтийская, д.35
            </p>
        </div>
        <div>
            <p style="font-size: 222%; text-decoration: underline">
                Контакты
            </p>
            <p  style="font-size: 150%;">
                Павел, Тимлид - 8-800-555-35-35
            </p>
        </div>
        <div>
            <p style="font-size: 222%; text-decoration: underline">
                Почта
            </p>
            <p  style="font-size: 150%;">
                foodfitcompany@yandex.ru
            </p>
        </div>
    </div>
    
    <div style="width: 80%; display: inline-block;  margin: 1,5%">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aad40b86276fe61252e11c3b6b06fda00fa06058e63283eba76b32f3843f787d0&amp;width=100%25&amp;height=666&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</div>