@model IEnumerable<FoodFit.Models.Workout>

@{
    ViewData["Title"] = "Фитнес";
}

<!DOCTYPE html>
<h1 style="font-size: 400%; color: #283618; font-weight: 900">Фитнес</h1>

<table class="table">
    <tbody style="height: 630px; display:flex; flex-direction:column; overflow-y: scroll; overflow-x: hidden; border: none">
        @foreach (var item in Model)
        {
            <tr class="homepage">
                <td id="hptxtf" style="width: 69%; border: none; padding: 10px">
                    <p style="font-size: 300%; color: #BC6C25; font-weight: 300; text-decoration: underline;">
                        @Html.DisplayFor(modelItem => item.Title)
                    </p>
                    <p id="hptxts" style="font-size: 150%;">
                        @Html.DisplayFor(modelItem => item.Description)
                    </p>
                </td>

                <td id="hpimgs" style="width: 69%; border: none">
                    <img src="~/Resources/Workouts/run.png" style="padding: 10px; height: 69%; width: 69%;" />
                </td>
            </tr>
        }
    </tbody>
</table>
